// app global css in Sass form
html,
body
  width: 100%

body
  font-family: 'Barlow', sans-serif
  min-height: 100%
  background-color: $light-background

.background
  width: 100%

.container
  max-width: 1440px
  margin: 0 auto

.content
  max-width: 1280px
  margin: 0 auto

.text-dark-text
  color: $dark-text

.btn
  border: 1px solid $primary

.btn-filled
  background-color: $primary
  color: white

.btn-round
  border-radius: $mini-item-height
